* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 50px;
}

.single-tile {
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
  text-align: center;

}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/* GamePlay Classes */


.player-x {
  background-image: url(img/xmark.png);
  background-size: cover;
}

.player-o {
  background-image: url(img/omark.png);
  background-size: cover;
}

.taken {
  background-color: brown;
}